{{template "shared/document" . }} {{define "title"}}Sign In{{end}}{{define
"body"}}
<body>
<main class="h-screen w-full flex justify-center items-center">
  <div class="max-w-sm w-full md:border px-4 py-4">
    <h1 class="text-xl font-semibold pb-1">Go Chat</h1>
    <h2 class="text-gray-600 pb-4">Create Accont</h2>
    <div id="form-error" class="[&>*]:mb-2">
    </div>
    <form class="grid gap-4 pb-2" hx-post="/users/signup" hx-target="#form-error">
	<input
		type="text"
		name="name"
		placeholder="Name"
		class="h-9 border px-2 focus:outline-gray-200"
		/>
      <input
        type="text"
        name="username"
        placeholder="Username"
        class="h-9 border px-2 focus:outline-gray-200"
      />
      <input
        type="password"
        name="password"
        placeholder="Password"
        class="h-9 border px-2 focus:outline-gray-200"
      />
      <button type="submit" class="h-9 bg-black text-white px-4">
        Create Account
      </button>
    </form>
      <p class="text-sm text-gray-600">
        Already have an account?
        <a href="/users/signin" class="underline text-center">Sign In</a>
      </p>
  </main>
</body>
</div>
{{end}}
